extend layout

block content
  form.pure-form
    input(type="text").pure-input-rounded
    button(type="submit").pure-button
      検索
  div.result#result
block jsfiles
  script(data-main='/scripts/app/index', src='/bower_components/requirejs/require.js')
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/jsrender/jsrender.min.js')
