extend layout

block content
  h2 songlist

block jsfiles
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(data-main='/scripts/app/songlist', src='/bower_components/requirejs/require.js')
