extends _layout
block content
  form.form-signin(role='form')
    h2.form-signin-heading Chord Kitchen
    input.form-control(type='email', placeholder='メールアドレス', required='required',
    autofocus='autofocus')
    input.form-control(type='password', placeholder='パスワード', required='required')
    .checkbox
      label
        input(type='checkbox', value='remember-me')
        | メールアドレスとパスワードを保存
    button.btn.btn-lg.btn-primary.btn-block(type='submit') ログイン
block script
  //build:js({app,.tmp}) /scripts/app.signin.js
  script(src='/scripts/app.signin.js')
  //endbuild
