extends _layout
block content
  form.form-signin(role='form', action='/signup', method='post')
    h2.form-signin-heading Chord Kitchen
    .form-group
      label(for='email') メールアドレス
      input.form-control#email(type='email', name='email', placeholder='example@chordkitchen.net',
      required='required', autofocus='autofocus')
    .form-group
      label(for='password') パスワード
      input.form-control#password(type='password', name='password', placeholder='パスワード', required='required')
    .form-group
      label(for='passwordConfirm') パスワード（確認用）
      input.form-control#passwordConfirm(type='password', name='passwordConfirm', placeholder='パスワード',
      required='required')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') アカウント作成
block script
  //build:js({app,.tmp}) /scripts/app.signup.js
  script(src='/scripts/app.signup.js')
  //endbuild
